doctype html
html
  head
    title Login
  body
    h1 Login
    if error
      p.error #{error}
    form(action='http://localhost:3001/login' method='POST')
      div
        label(for='username') Username:
        input(type='text' name='username' id='username')
      div
        label(for='password') Password:
        input(type='password' name='password' id='password')
      div
        button(type='submit') Login
